/* JAD-CA2
Class-DIT/FT/2A/23
Student Name: Thiri Lae Win
Admin No.: P2340739  */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Card Container */
.card {
    background-color: #ffffff;
    width: 500px;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card h1 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

/* Form Elements */
form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    font-weight: bold;
    color: #555;
    margin-top: 15px;
}

input[type="text"],
input[type="number"],
select,
input[type="file"],
textarea {
    padding: 10px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    font-size: 14px;
}

input[type="file"] {
    padding: 5px;
}

/* Buttons */
button[type="submit"] {
    display: flex;
    justify-self: center;
    background-color: #007bff;
    color: white;
    padding: 12px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

a{
    margin-top: 10px;
    display: flex;
    justify-self: center;
}

/* Media Query for Smaller Screens */
@media (max-width: 600px) {
    .card {
        width: 90%;
        padding: 20px;
    }
}
