/* 
 * JAD-CA1
 * Class-DIT/FT/2A/23
 * Student Name: Moe Myat Thwe
 * Admin No.: P2340362
 */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.title-container {
    text-align: center;
    margin: 40px 0 20px;
}

.title-container h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #6B4226; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
    letter-spacing: 1px; 
}

.navbar-container {
    margin-bottom: 20px; 
}

.services-container, .sub-services-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.service-card, .sub-service-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.service-card img, .sub-service-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.service-card h3, .sub-service-card h3 {
    font-size: 1.5rem;
    color: #333;
}

.service-card a, .sub-service-card button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #674636;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.service-card a:hover, .sub-service-card button:hover {
    background-color: #835945;
}

.back-to-services {
    margin: 20px 0;
    text-align: left; /* Align to the left or center as desired */
}

.back-to-services a {
    display: inline-flex;
    align-items: center;
    background-color: #CBD2A4;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.back-to-services a:hover {
    background-color: #646c35;
}

.back-arrow {
    margin-right: 10px; 
    font-size: 18px; 
}

.btn-book-now {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff; /* White text */
    background-color: #674636; /* Brown background */
    text-decoration: none; /* No underline */
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

.btn-book-now:hover {
    background-color: #4a2f26; /* Darker brown on hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Stronger shadow */
}
